@media screen and (min-width:768px){
   
    .imagen{
        justify-self: center;
        width: 45vw;
        margin-top: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 5px;
        transition-property: all;
        transition-duration: 0.25s;
        &:hover{/*ARREGLAR SUPERPOSICIÓN DE TARJETA (SOLUCIONADO)*/
            transform: scale(1.1);
            z-index: 1;
        }
    }

    .cuerpo{
        margin-top: 5vh;
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 90vh 90vh 90vh;
        grid-row-gap: 1vh;
        grid-column-gap: 3vw;
    }
    
    .cuerpoEmpre{
        display:flex;
        flex-direction: row;
        column-gap: 3vw;
        margin-left: 3vw;
        margin-top: 3vh;
        margin-right: 3vw;
        align-items: center;
    }
    .cuerpoObras{
        display: flex;
        flex-direction: row;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        justify-content: center;
        column-gap: 3vw;
        align-items: center;
    }
}    