@import "escritorio";
@import "movil";

@mixin size ($altura,$ancho) {
    height: $altura;
    width: $ancho;
}

*{
    padding: 0;
    margin: 0;
}


/*CAMBIAR COSAS OBSOLETAS POR EL BOOTSTRAP ->hecho*/

/*
$estilo:(*/ /*mapget (ejemplo un poco forzado)*//*
    fuente:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
);*/

.capa{ /*filtro oscuro*/
    position: fixed;
    @include size(100vh,100% );
    background: rgba(143, 138, 138, 0.253);
    z-index: -1;
    top: 0;left: 0;
}    

body{
    background-color: white;
    min-height: 100%;/*no funciona en contacto?*/
}

footer { /*poner redes en color blanco*/
    position: absolute;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 0;
}

.division{
    margin-top: 3vh;
    align-content: center;
    text-align: center;
    text-justify:center;
    /*justify-self: center;*/
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    @extend .division;
    border: 0px !important;
    font-size:x-large;
    align-content: center;
    padding: 3vh;
    width: 100%;
    margin-left: 0px;
    margin-top: 0;
    background-color: darkgrey ;
}

.cuerpoDiscl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5vh;
    margin-top: 5vh;
}
.cuerpoServ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5vh;
    margin-top: 5vh;
}

.cuerpoDise{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5vh;
    margin-top: 5vh;
}    

.cuerpoCont{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    
}
.pie{/* fix para pegar el footer abajo cuando la página no tiene 100vh*/
    position: absolute;
    width: 100%;
    margin-top: 4vh;
    bottom: 0 !important;
    
}

