/*OBSOLETO*/

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(233, 227, 227);
}


header {
    background-color: rgb(34, 33, 33);
    /*Quizas cambiar a un color cafe -> modificar paleta de colores (demasiado oscuro)*/
    margin-top: 0;
    padding: 30px;
    display: grid;
    grid-template-columns: 40% 52%;
    /*arreglar logo no responsive*/
}


.navegacion{
    display: grid;
    border: white  5px double;
    color: white;
    background-color: gray;
    list-style: none;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0,5fr;
    justify-items: center;
    align-items: center;
}

/*Crear carrusel de imagenes para algunas paginas -> usar grids para acomodar la informacion
MIENTRAS TANTO USAR GRIDS PARA MOSTRAR LAS CASAS   */

footer {
    margin-bottom: 0px;
    padding-top: 3%;
    background-color: rgb(22, 18, 18);
    margin-top: 3%;
    /*agregar redes sociales (usando flexbox )*/
}

.imagen{
    width: 30vw;
}
.descripcion{
    background-color: dimgray;
    border-radius: 5px;
    margin-top: 0,5%;
}

.cuerpoServ__titulo{
    grid-area: titulo;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cuerpoServ__division1{
    grid-area: division1;
    justify-content: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cuerpoServ__division2{
    grid-area: division2;
    justify-content: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.cuerpoServ__casa1{
    grid-area: casa1;
    display: flex;
    flex-direction: column;
    margin: 1%;
    justify-items: center;
    align-items: center;
}

.cuerpoServ__casa2{
    grid-area: casa2;
    display: flex;
    flex-direction: column;
    margin: 1%;
    justify-items: center;
    align-items: center;
}

.cuerpoServ__interior1{
    grid-area: interior1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.cuerpoServ__interior2{
    grid-area: interior2;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.cuerpoServ{
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "division1 division1"
    "casa1 casa2"
    "division2 division2"
    "interior1 interior2";
    grid-template-columns: 45% 45%;
    grid-template-rows: 5vh 3vh 40vh 3vh 40vh;
    grid-row-gap: 1vh;
    
}
